@import "_base-style";

main {
	margin: 10rem 15rem 5rem 15rem;
	display: flex;

	aside {
		width: 15%;
		height: 100%;
		animation: load-in 0.75s;
		fieldset {
			border-color: $--dark-gray;
			border-width: 1px;
			padding: 1rem;
			margin-bottom: 1rem;
			font-size: 1.125em;
			legend {
				color: $--red;
			}
			input {
				margin: 0.5rem 0.5rem 0.5rem 0;
				accent-color: $--red;
				cursor: pointer;
			}
			label {
				cursor: pointer;
			}
			select {
				border: none;
				width: 100%;
				height: 2rem;
				border-radius: 0.2rem;
				cursor: pointer;
				font-size: 1.125em;
				background: $--dark-gray;
				color: $--red;
				option {
					cursor: pointer;
					color: $--red;
					border: none;
				}
			}
		}
	}
	section {
		width: 100%;
		margin: 0 3rem;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		gap: 1rem;
		overflow: hidden;
		.grid {
			position: relative;
			animation: load-in 0.75s;
			cursor: pointer;
			a {
				img {
					border: 1px solid $--dark-gray;
					max-width: 100%;

					transition: all 0.5s ease;
				}
				.text {
					overflow: hidden;
					text-align: left;
					font-size: 1.3em;
					position: absolute;
					width: 100%;
					height: 20%;
					bottom: 0;
					padding: 5% 0 5% 10%;
					transition: all 0.5s ease;
					opacity: 0;
				}
				&:hover {
					img {
						border: 1px solid $--red;
					}
					.text {
						position: absolute;
						bottom: 0;
						opacity: 1;
						background: #c6311add;
					}
				}
			}
		}
	}
}

@keyframes load-in {
	0% {
		opacity: 0;
		transform: rotateX(-10deg);
	}

	100% {
		opacity: 1;
		transform: rotateX(0);
	}
}
