@import "_base-style";

main {
	width: fit-content;
	margin-top: 4rem;
	#slider {
		overflow: hidden;
		figure {
			position: relative;
			// display: flex;
			width: 300%;
			margin: 0;
			left: 0;
			animation: 10s slider infinite;
			img {
				width: 33.3333%;
				float: left;
				height: 35vw;
			}
		}
	}
	h2 {
		padding-bottom: 1rem;
	}
	section {
		margin: 5rem 15rem;
		#container {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
			gap: 1rem;
			overflow: hidden;
			.grid {
				position: relative;
				cursor: pointer;
				a {
					width: 100%;
					img {
						border: 1px solid $--dark-gray;
						max-width: 100%;
						transition: all 0.5s ease;
					}
					.text {
						overflow: hidden;
						text-align: left;
						position: absolute;
						font-size: 0.9em;
						width: 100%;
						height: 20%;
						bottom: 0;
						padding: 5% 0 5% 10%;
						transition: all 0.5s ease;
						opacity: 0;
					}
					&:hover {
						img {
							border: 1px solid $--red;
						}
						.text {
							position: absolute;
							bottom: 0;
							opacity: 1;
							background: #c6311add;
						}
					}
				}
			}
		}
		#promo {
			margin-top: 3rem;
			width: 100%;
		}
	}
}

@keyframes slider {
	0% {
		left: 0;
	}
	40% {
		left: 0%;
	}
	50% {
		left: -100%;
	}
	90% {
		left: -100%;
	}
	100% {
		left: -200%;
	}
}
